.aurora-background-gradient-after {
    @apply after:content-[""]
          after:absolute
          after:inset-0
          after:[background-image:var(--white-gradient),var(--aurora)]
          after:dark:[background-image:var(--dark-gradient),var(--aurora)]
          after:[background-size:200%,_100%]
          after:[background-attachment:fixed]
          after:mix-blend-difference;
}

.aurora-gradient-animation::after {
    animation: animate-aurora 60s linear infinite;
}

@keyframes animate-aurora {
    0% {
        background-position:
            50% 50%,
            50% 50%;
    }
    100% {
        background-position:
            350% 50%,
            350% 50%;
    }
}

@keyframes meteor {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(215deg) translateX(-500px);
        opacity: 0;
    }
}

.animate-meteor {
    animation: meteor 5s linear infinite;
}

@keyframes to-top {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes to-bottom {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}
@keyframes to-right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes to-left {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes to-top-right {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes to-top-left {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes to-bottom-right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
@keyframes to-bottom-left {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}

.animate-marquee {
    animation: marquee var(--duration) linear infinite;
    animation-direction: reverse;
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}

.move {
    animation-duration: v-bind(durationFormSpeed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.move-top {
    animation-name: to-top;
}
.move-bottom {
    animation-name: to-bottom;
}
.move-right {
    animation-name: to-right;
}
.move-left {
    animation-name: to-left;
}
.move-top-right {
    animation-name: to-top-right;
}
.move-top-left {
    animation-name: to-top-left;
}
.move-bottom-right {
    animation-name: to-bottom-right;
}
.move-bottom-left {
    animation-name: to-bottom-left;
}

.marquee {
    --duratuin: 40;
    left: -10%;
    padding: 0.5rem 0;
    position: absolute;
    width: 120%;
}
